.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ingore venv and everything in it
venv/

# Pycache files
__pycache__/

# Contents of i/o folder
output_frames/
output_json/
output_videos/
videos/
VideoVanzetti04042024/*
VideoVanzetti23042024/json/*
