.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore venv and everything in it
.venv/
.venv-gpu/

# Pycache files
__pycache__/
.pytest_cache/
*.egg-info/
build/
dist/

# Runtime artifacts
var/
videos/
VideoVanzetti04042024/*
VideoVanzetti23042024/json/*
runs/*
vanzetti_1hr/*
